*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  max-width: 1140px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.result {
  max-width: 711px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-self: flex-end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Начало формы */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  column-gap: 15px;
  min-width: 212px;
  align-items: center;
  padding-bottom: 5px;
}

.search-form__label {
  display: flex;
}

.search-form__label:has(:focus-visible) {
  outline: none;
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label input[type="text"] {
  width: 225px;
  min-height: 25px;
  font-family: inherit;
  color: inherit;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__label input[type="text"]:active {
  border: none;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  margin-right: 5px;
}

.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label:has([type="checkbox"]):hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__textfield {
  padding: 2.5px 0;
  border: none;
  background-color: transparent;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: 5px;
}

.button {
  background-color: inherit;
  border: 1px solid #fff;
  padding: 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 34px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list:focus {
  outline: none;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 100%;
}

/* Окончание формы */

.content__details {
  max-width: 399px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  min-height: 530px;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 298px;
  overflow-x: hidden;
}

/* Начало стилей для карточки */
.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  text-decoration: none;
  display: flex;
  margin: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  width: 100%;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  width: 100%;
}

.content__video-card-title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  max-width: 194px;
  width: 100%;
  max-height: 103px;
  height: 100%;
  object-fit: cover;
}